@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color-bg1: #8261ee;
  --color-bg2: #ff589e;
  --color-bg3: #F2F2FD;
  --color-text1: #1e1e1e;
  --color-text2: #777777;
}

a {
  text-transform: none;
}